
        body {
        background-color: #111;
        margin: 0;
        align-items: center;
        justify-content: center;

        }
        .navbar{
        background-color:  #313131;
        margin-bottom: 30px;
        }
        .navbar-brand i{
        color: aliceblue;
    }
        .bubble {
        position: absolute;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.2);
        filter: blur(1px);
        animation: float 10s infinite ease-in-out;
        }

        @keyframes float {
        0% {
            transform: translate(0, 0);
        }
        50% {
            transform: translate(var(--x), var(--y));
        }
        100% {
            transform: translate(0, 0);
        }
        }
        .img {
        width: 100px;
        height: 100px;
        }
        .card {
        width: 150px;
        height: 500px;
        border-radius: 30px;
        background: #212121;
        color: aliceblue;
        margin-top: 15px;
        margin-bottom: 15px;
        
        box-shadow: 15px 15px 30px rgb(25, 25, 25),
                    -15px -15px 30px rgb(60, 60, 60);
        transition: all 0.3s ease-in-out;
    }
   
    footer {
    position: relative;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #313131;
    color: white;
    padding: 20px 20px;
    text-align: center;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    }
    .btn:hover{
    background-color: #0d1d68;
    color: white;
    border-style: hidden;
    }